.psychotest {
    width: 80%;
    background: url("Img/explore-test-your-memory.png") 3% 30%;
}

.psychotest legend {
    color: #9d4e34;
    font-size: 19px;
    font-weight: bold;
}

.psychotest h1 {
    font-size: 17px;
}

.test {
    display: block;
    margin: 0 auto;
    width: 230px;
}

.psychotest label {
    display: block;
}

.psychotest label + label {
    margin-top: 17px;
}

.psychotest input[type='radio'] {
    margin-right: 10px;
}

.submit {
    margin-top: 20px;
    color: white;
    background-color: #b88f5c;
    border: 2px solid white;
    width: 80px;
}