body{
	margin: 0;
	padding: 0;
}
.container {
	display: grid;
	grid-template-rows: 300px 600px 300px 300px;
	grid-template-columns: 100%;
	background-color: skyblue;
	padding: 10px;
	grid-gap: 5px;
}

.content {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 85% 15%;
}

.gallery {
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;
}

.text {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(3, 1fr);
}

.container h1::before {
	content: "the_";
}

.container h1::after {
	content: "_site";
}

.head {
	border-radius: 20px;
	background-color: #064063;
	display: flex;
	justify-content: center;
	align-items: center;
}
.head h1{
	color: white;
	font-size: 60px;
	text-shadow: 4px 4px red, -4px -4px skyblue;
}
.head .button{
	display: flex;
	align-items: center;
	color: white;
	position: fixed;
	background-color: black;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	justify-content: center;
	right: 25px;
	top: 25px;
	transition: .5s;
	overflow: hidden;
}
.head .button:hover{
	width: 250px;
	transition: .5s;
}
.head .button:hover::after{
	content: "\00a0US ON TELEGRAM";
}

.image img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	border: 1px solid white;
}
.image{
	transition: transform .7s;
}
.gallery{
	background-color: white;
	border: 3px solid white;
	border-radius: 20px;
}
.image:hover{
	transform: scale(2.0);
}
.image:nth-child(1){
	transform-origin: top left;
}
.image:nth-child(2){
	transform-origin: top right;
}
.image:nth-child(3){
	transform-origin: bottom left;
}
.image:nth-child(4){
	transform-origin: bottom right;
}
.ad{
	writing-mode: vertical-lr;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid white;
	border-radius: 20px;
	box-shadow: inset 30px 30px 20px #ffad19;
	background-color: white;
	color: #ffad19;
	font-weight: 800;
}
.info{
	overflow: auto;
	border-radius: 40px/30px 0 0 0;
	background-color: white;
	margin: 0 2px;
}
.info p{
	padding: 10px;
	margin: 0;
}
.footer{
	text-align: center;
	border-radius: 20px;
	background-color: #064063;
	color: white;
	font-size: 28px;
}
.footer h2{
	font-size: 50px;
	padding: 0;
	margin: 0;
}
.footer > nav > span:hover{
	cursor: pointer;
	color: darkred;
}
.footer > nav > span{
	padding: 5px;
}
.footer nav{
	margin-bottom: 35px;
}
.footer > span{
	font-size: 14px;
	padding: 0;
	margin: 0;
}
.footer input{
	margin-bottom: 50px;
}
@media (max-width: 768px){
	.container{
		grid-template-rows: 200px 1400px 600px 200px;
		grid-template-columns: 100%;
	}
	.content{
		grid-template-rows: 1200px 200px;
		grid-template-columns: 100%;
	}
	.ad{
		writing-mode: horizontal-tb;
		word-wrap: break-word;
	}
	.gallery{
		grid-template-rows: 300px 300px 300px 300px;
		grid-template-columns: 100%;
		
	}
	.image img{
		width: 100%;
		height: 98%;
		border-radius: 20px;
	}
	.text{
		grid-template-rows: 200px 200px 200px;
		grid-template-columns: 100%;
	}
	.footer nav{
		margin: 0;
	}
	.footer input{
		margin-bottom: 0;
	}
	.image:hover{
		transform: scale(1);
	}
}