.carousel-caption{
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar-nav {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: center;
    color: white;
}
nav{
    opacity: .5;
}
.carousel-caption button{
    width: 200px;
}
#examples .container .row img{
    height: 480px;
}
#examples .container button{
    opacity: .8;
}
.top-nav-collapse{
    background-color: #24355C;
    opacity: .8;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
@media (max-width: 768px){
    #examples .container .row img{
        width: 100%;
        height: 100%;
    }
    .top-nav-collapse{
        opacity: 1;
    }
    .carousel-caption{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 960px){
    #examples .container .row img{
        width: 100%;
        height: 100%;
    }
    .top-nav-collapse{
        opacity: 1;
    }
}
