form {
    background-color: rgb(238, 238, 238);
    width: 380px;
    border: 2px solid #c1c1c1;
    padding: 3px 0;
}

input:first-child {
    background-color: #fdffb2;
}

input[type=text],
input[type=password] {
    border: 2px solid #c1c1c1;
    padding: 4px;
    width: 220px;
}

tr:nth-child(2) input,
tr:nth-child(3) input {
    background-color: #fdc2ec;
    border-color: #b30a80;
}

tr > td:first-child {
    text-align: right;
    font-weight: bold;
}

select {
    border: 2px solid #160b99;
    background-color: #bdb8f9;
    width: 230px;
    padding: 3px;
}

textarea {
    border: 2px solid #1f981d;
    background-color: #c6ffc5;
}

tr:nth-last-child(2) label {
    font-size: 12px;
}

input[type=submit] {
    background-color: #a4fd9d;
}

button[type=reset] {
    background-color: #ff9096;
}

button[type='reset'],
input[type='submit'] {
    cursor: pointer;
}
