.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header,
.footer {
    padding: 20px 0;
}

.header {
    background-color: aqua;
}


.left_aside {
    background-color: magenta;
}

.right_aside {
    background-color: yellow;
}

.left_aside,
.right_aside {
    text-align: center;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px; */
    padding: 10px 100px;

}

.content {
    display: flex;
    /* flex-wrap: wrap;
    flex-basis: 200px; */
}

.text {
    background-color: lightgreen;
    padding: 30px 5px;
    display: flex;
    align-items: center;
    /* flex-basis: 500px;
    flex-grow: 2; */
}

.footer {
    background-color: blue;
}

.header,
.footer {
    align-items: center;
    justify-content: center;
    display: flex;
}
@media (max-width: 768px){
    .left_aside,
        .right_aside {
        flex-grow: 1;
        flex-basis: 200px;
    }
    .text {
        flex-grow: 2;
        order: 1;
    }
    .content {
        flex-wrap: wrap;
        flex-basis: 200px;
    }
    .left_aside{
        order: 2;
    }
    .right_aside{
        order: 3;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .content {
        flex-wrap: wrap;
        flex-basis: 200px;
    }
    .left_aside,
        .right_aside {
        flex-grow: 1;
        flex-basis: 200px;
    }
    .text {
        flex-grow: 2;
        order: 1;
    }
    .left_aside{
        order: 2;
    }
    .right_aside{
        order: 3;
    }
}