.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header,
.footer {
    padding: 20px 0;
}

.header {
    background-color: aqua;
}


.left_aside {
    background-color: magenta;
}

.right_aside {
    background-color: yellow;
}

.left_aside,
.right_aside {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    padding: 10px 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
}

.text {
    background-color: lightgreen;
    padding: 5px;
    flex-basis: 500px;
    flex-grow: 2;
}

.footer {
    background-color: blue;
}

.header,
.footer {
    align-items: center;
    justify-content: center;
    display: flex;
}