ol {
    counter-reset: section;
    list-style-type: none;
}

li::before {
    counter-increment: section;
    content: counters(section, ".");
    background: #00830d;
    border: 1px solid yellow;
}
li:hover::before{
    background: yellow;
    border: 1px solid #00830d;
}
.container{
    width: 50%;
    margin: 10px auto;
}
.container_ol{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
}
h1{
    color: red;
    text-align: center;
}
.container_ol ol {
    counter-reset: opp;
    list-style-type: none;
    width: 40%;
}
.container li::before {
    counter-increment: opp;
    content: counters(opp, ".");
    background: Aqua;
    border: 10px solid Aqua;
    border-radius: 50%;
    color: white;
}
.container_ol ol:nth-child(2) {
    counter-reset: opp 4;
    list-style-type: none;
}
hr{
    margin: 20px auto;
}
