.icons {
    font-size: 0;
}

.icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: url("./Img/white_sprait.png") no-repeat;
}

.icon1 {
    background-color: red;
    background-position: 0 0;
}

.icon2 {
    background-color: #03aeda;
    background-position: -100px 0;
}

.icon3 {
    background-color: #fca61b;
    background-position: -200px 0;
}

.icon4 {
    background-color: #0450da;
    background-position: -300px 0;
}

.icon5 {
    background-color: #f0812f;
    background-position: -400px 0;
}

.icon6 {
    background-color: #0450da;
    background-position: 0 -100px;
}

.icon7 {
    background-color: #fcd41c;
    background-position: -100px -100px;
}

.icon8 {
    background-color: #da0404;
    background-position: -200px -100px;
}

.icon9 {
    background-color: #03aeda;
    background-position: -300px -100px;
}

.icon10 {
    background-color: #ff8931;
    background-position: -400px -100px;
}
