body > div + div{
    margin-top: 10px;
}
@keyframes anim{
	from{margin-left:3px;}
	to{margin-left:500px;}
}
#d1{
	animation:anim 4s 3;
}
#d1{ 
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
#d2{
	animation: anim 4s infinite;
}
#d2{
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
@keyframes anim3{
	0%{background: white;}
	50%{background: red;}
	100%{background: white;}
}
#d3{
	animation:anim3 4s 30 0s;
}
#d3{
    width: 200px;
    height: 200px;
    border: 1px solid red;
}
@keyframes anim4{
	0%{margin-left: 0%; margin-top: 0%;}
	25%{margin-left: 50%; margin-top: 0%;}
	50%{margin-left: 50%; margin-top: 20%;}
	75%{margin-left: 0%; margin-top: 20%;}
	100%{margin-left: 0%; margin-top: 0%;}
}
#d44{
    height: 300px;
    overflow: hidden;
}
#d4{
	-webkit-animation: anim4 8s linear 30;
	animation: anim4 2s linear 30;
}
#d4{
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
#d5{
	-webkit-animation: anim4 8s linear 30;
	animation: anim4 8s linear infinite, anim3 2s linear infinite;
}
#d5{
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
@keyframes anim6{
	0%{margin-left: 0%;}
	50%{margin-left: 50%;}
	100%{margin-left: 0%;}
}

#d6{
	-webkit-animation: anim 4s infinite;
	animation: anim6 4s infinite;
}
#d6{
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
@keyframes anim7{
	from{margin-left: 0%;}
	to{margin-left: 50%;}
}

#d7{
	-webkit-animation: anim 2s infinite alternate;
	animation: anim 2s infinite alternate;
}
#d7{
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
@keyframes test{
	0%{width: 0%;}
	100%{width: 100%;}
}

#wrapper{
	margin: 10px auto;
	width: 50%;
	height: 30px;
	border: 1px solid red;

}
#test{
	background: red;
	width: 0%;
	height: 30px;
	
	-webkit-animation:test 5s linear 1 forwards;
	animation:test 5s linear 1 forwards;
}
@keyframes test2{
	0%{width: 0%;}
	100%{width: 100%;}
}

#wrapper{
	margin: 10px auto;
	width: 50%;
	height: 30px;
	border: 1px solid red;

}
#test2{
	background: red;
	width: 0%;
	height: 30px;
	
	-webkit-animation: test2 16s linear infinite -8s;
	animation: test2 16s linear infinite -8s;
}
@keyframes anim8{
	from{width: 10%;}
	to{width: 100%;}
}

#d8{
	animation: anim8 2s ease infinite alternate;
	animation-play-state: paused;
}
#d8:hover{
	animation-play-state: running;
}

#d8{
    height: 50px;
    border: 1px solid red;
}
@keyframes anim9{
	from{width: 10%;}
	to{width: 100%;}
}

#anim{
	width: 50px;
	animation: anim9 2s ease alternate infinite;
	animation-play-state: paused;
}
#hoverme:hover + #anim{
	animation-play-state: running;
}
#hoverme{
    padding: 10px;
    border: 1px solid red;
    margin-bottom: 30px;
	width: 30%;
}
#anim{
    height: 50px;
    border: 1px solid blue;
}
@keyframes bouncing{
	40%, 70%, 90%{
		animation-timing-function: ease-out;
		bottom: 0;
	}
	0%{
		bottom: 200px;
		left: 0;
		animation-timing-function: ease-in;
	}
	55%{
		bottom: 50px;
		animation-timing-function: ease-in;
	}
	80%{
		bottom: 25px;
		animation-timing-function: ease-in;
	}
	95%{
		bottom: 10px;
		animation-timing-function: ease-in;
	}
	100%{
		left: 110px;
		bottom: 0;
		animation-timing-function: ease-out;
	}
}
#wrapper1{
	margin: 0px auto;
	width: 220px;
	height: 220px;
	border: 1px solid red;
	position: relative;
}
#ball{
	background: red;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	
	animation: bouncing 5s infinite;
}


