.our_team_head{
  text-align: center;
  padding: 40px 0 5px;
  line-height: 25px;
}
.faces_of_team div{
  display: inline-block;
}
.faces_of_team{
  width: 900px;
  margin: auto;
}
.information{
  text-align: center;
  width: 275px;
  margin: 0 5px;
}
body{
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  font-family: 'Roboto', sans-serif;
  min-height: 98vh;
}
h1{
  font-weight: normal;
  font-size: 45px;
}
.info_top_text{
  font-size: 25px;
  font-weight: 800;
}
.information img{
  width: 280px;
  height: 280px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
h1{
  text-shadow: 0 0 20px crimson, 0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson, 0 0 75px crimson;
}
.information img:hover{
  transform: scale(1.2, 1.2);
  transition: .4s;
}
.information img{
  transition: .3s;
}

