section {
    color: #fff;
    background: #088a28;
    padding-bottom: 7px;
    padding-left: 5px;
    font-size: 17px;
    width: 240px;
    line-height: 23px;
}

.item {
    color: black;
    background-color: #ff8001;
    padding: 10px;
    margin-right: 6px;
}

section + section {
    margin-top: 2px;
}