ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
}

.flex-item {
    color: white;
    background-color: #FF6347;
    padding: 18px 30px;
    font-size: 1.3em;
    margin: 1px;
}